:root {
  --backg:white;
  --color: rgba(0, 4,31);
  --transit:all .5s ease-in-out;
  --transit:all .5s ease-in-out;
  --shadow:3px 3px 4px gray;
  --fontsx:2em;
  --colored:red;
  --backgroundcolor: hsl(231, 100%, 4%);
  --background:#ffffff;
  --background2:rgba(55, 76, 167, 0.253);
  --backgroundx:#04011f;
  --backgroundimage: to top, rgba(173, 216, 230, 0.5),rgba(28, 28, 253, 0.198) ;
  --btext:#0d0d0ecc;
  --background4:rgba(74, 164, 192, 0.335);
  --text-p:rgba(18, 104, 241, 0.452);
  --box-shadow:2px 3px 2px black;
  --box-shadow2:2px 3px 2px rgba(255, 250, 250, 0.548);
  --fonts:3rem;
  --widt:100%;
  --text2:rgba(110, 54, 54, 0.438);
  --text2x:rgba(0, 0, 0, 0.746);
}

::-webkit-scrollbar-button {
  width: 3vw;
  /* background-color: rgba(128, 79, 79, 0.315); */
}

.bi-heart-fill:hover {
  color: red;
}

::-webkit-scrollbar {
  width: 0.7em;
  /* background-color: rgba(128, 79, 79, 0.315); */
}

::-webkit-scrollbar-track {
  height: 2.1vh;
  border-radius: 22px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 22px;
  background-color: var(--backgroundcolor);
}

* {
  margin: 0%;
  text-decoration: none;
  color: var(--color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background: rgb(0, 4, 31) url("../assets/img/shape-u.png");
  background-repeat: no-repeat;
}

.sec-1 {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  background-color: hsl(231deg, 100%, 4%);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  z-index: 9999999999;
}
.sec-1 span {
  display: flex;
  width: 220px;
  height: auto;
  padding: 12px;
  overflow: hidden;
}
.sec-1 span .logoi {
  border-radius: 23px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.sec-1 ul {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.sec-1 ul > * {
  margin-left: 12px;
  color: rgb(255, 255, 255);
}
.sec-1 ul > *:hover {
  color: rgb(216, 0, 0);
}
.sec-1 .fixed__NAV {
  display: flex;
  position: fixed;
  top: 130px;
  z-index: 99999999999;
  right: 10px;
}
.sec-1 .fixed__NAV a {
  border: 2px solidm white;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px;
  color: rgb(0, 4, 31);
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 12px;
  cursor: pointer;
}
.sec-1 .fixed__NAV a:last-child {
  border-radius: 1px;
  color: white;
  background-color: rgb(0, 4, 31);
}

.clicksa {
  display: none !important;
}

.sec-2 {
  display: grid;
  margin-top: 93px;
  min-height: 60vh;
  max-height: 90vh;
  width: 100%;
  grid-template-columns: 60% 40%;
  overflow: hidden;
}
.sec-2 .particles-js {
  height: 100%;
}
.sec-2 .main__total {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: baseline;
  padding: 12px;
  padding-top: 30%;
}
.sec-2 .main__total > * {
  display: flex;
  align-self: baseline;
  color: white;
  margin: 6px;
}
.sec-2 .main__total h2 {
  display: flex;
  font-size: 40px;
  margin: 12px;
}
.sec-2 .main__total h2 sup {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bolder !important;
}
.sec-2 .main__total p {
  color: rgb(207, 199, 199);
  font-size: 20px;
  text-transform: uppercase;
}
.sec-2 .main__total article {
  text-transform: capitalize;
}
.sec-2 .main__total a {
  padding: 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(255, 255, 255, 0.897);
  color: var(--colored);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  box-shadow: var(--shadow);
  cursor: pointer;
}
.sec-2 .main__total a:hover {
  background: white;
}

.wht {
  color: white;
}

.df {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  width: 100vw;
  padding: 12px;
  margin-top: 33px;
  align-items: center;
  color: white !important;
  margin: 0 !important;
  background: var(--backgroundcolor) url("../assets/img/shape-z.png");
}
footer sup {
  color: gray;
}
footer .crypto__sd {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
footer .crypto__sd img {
  height: 60px;
  margin-top: 52px;
}
footer .crypto__sd > * {
  color: white;
}

@media screen and (max-width: 700px) {
  .sec-2 {
    display: flex !important;
    margin-top: 93px;
    height: 100vh;
    max-height: -webkit-fit-content !important;
    max-height: -moz-fit-content !important;
    max-height: fit-content !important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    overflow: visible !important;
  }
  .sec-2 .particles-js {
    height: 100%;
    float: left;
    width: 100%;
    top: 0;
  }
  .sec-2 .main__total {
    position: absolute !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: baseline;
    padding: 12px;
    padding-top: 30%;
  }
  .sec-2 .main__total > * {
    display: flex;
    align-self: baseline;
    color: white;
    margin: 6px;
  }
  .sec-2 .main__total h2 {
    display: flex;
    font-size: 40px;
    margin: 12px;
  }
  .sec-2 .main__total h2 sup {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder !important;
  }
  .sec-2 .main__total p {
    color: rgb(207, 199, 199);
    font-size: 20px;
    text-transform: uppercase;
  }
  .sec-2 .main__total article {
    text-transform: capitalize;
  }
  .sec-2 .main__total a {
    padding: 22px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: rgba(255, 255, 255, 0.897);
    color: var(--colored);
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    box-shadow: var(--shadow);
    cursor: pointer;
  }
  .sec-2 .main__total a:hover {
    background: white;
  }
  .sec-1 {
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between !important;
    width: 100%;
    height: auto;
    background-color: hsl(231deg, 100%, 4%);
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    z-index: 9999999999;
  }
  .sec-1 span {
    display: flex;
    width: 220px;
    height: auto;
    padding: 12px;
    overflow: hidden;
  }
  .sec-1 span .logoi {
    border-radius: 23px;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    height: 100%;
  }
  .sec-1 i {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: white;
  }
  .sec-1 ul {
    display: flex;
    position: fixed;
    background-color: var(--backgroundcolor);
    width: 100% !important;
    height: 120px;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .sec-1 ul > * {
    margin-left: 12px;
    color: rgb(255, 255, 255);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    align-self: center;
  }
  .sec-1 ul > *:hover {
    color: rgb(216, 0, 0);
  }
  .sec-1 .fixed__NAV {
    display: flex;
    position: unset !important;
    top: 130px;
    z-index: 99999999999;
    right: 10px;
  }
  .sec-1 .fixed__NAV a {
    border: 2px solidm white;
    background-color: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 12px;
    color: rgb(0, 4, 31);
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 12px;
    cursor: pointer;
  }
  .sec-1 .fixed__NAV a:last-child {
    border-radius: 1px;
    color: white;
    background-color: rgb(0, 4, 31);
  }
  .clickcon {
    top: -104vw;
  }
  .opens {
    top: 104px;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .clicksa {
    display: flex !important;
    font-size: 40px;
    cursor: pointer;
    background-color: transparent !important;
  }
}
@media screen and (min-width: 1000px) {
  .ano {
    opacity: 0;
  }
  .showas {
    opacity: 1;
    transition: all 0.8s ease-in-out;
  }
}
.h2A {
  background-color: rgba(173, 216, 230, 0.657);
  padding: 12px;
  border-top-left-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom: 3px solid rgb(91, 177, 206);
  border-right: 3px solid rgba(91, 177, 206, 0.301);
}

* {
  background-color: transparent;
}

.perloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-blend-mode: var(--backgroundx);
  background: var(--backgroundx);
  z-index: 99999999999999990000000000000000;
  align-items: center;
  justify-content: center;
  opacity: 1;
  display: flex;
}
.perloader > * {
  background-blend-mode: var(--backgroundx);
  background: var(--backgroundx);
  z-index: 9999999;
}

.perloaderremove {
  opacity: 0;
  display: none;
}

.perloaderremove {
  opacity: 0;
  display: none;
}/*# sourceMappingURL=contacct.css.map */