:root {
  --backg:white;
  --color: rgba(0, 4,31);
  --transit:all .5s ease-in-out;
  --transit:all .5s ease-in-out;
  --shadow:3px 3px 4px gray;
  --fontsx:2em;
  --colored:red;
  --backgroundcolor: hsl(231, 100%, 4%);
  --background:#ffffff;
  --background2:rgba(55, 76, 167, 0.253);
  --backgroundx:#04011f;
  --backgroundimage: to top, rgba(173, 216, 230, 0.5),rgba(28, 28, 253, 0.198) ;
  --btext:#0d0d0ecc;
  --background4:rgba(74, 164, 192, 0.335);
  --text-p:rgba(18, 104, 241, 0.452);
  --box-shadow:2px 3px 2px black;
  --box-shadow2:2px 3px 2px rgba(255, 250, 250, 0.548);
  --fonts:3rem;
  --widt:100%;
  --text2:rgba(110, 54, 54, 0.438);
  --text2x:rgba(0, 0, 0, 0.746);
}

::-webkit-scrollbar-button {
  width: 3vw;
  /* background-color: rgba(128, 79, 79, 0.315); */
}

.bi-heart-fill:hover {
  color: red;
}

::-webkit-scrollbar {
  width: 0.7em;
  /* background-color: rgba(128, 79, 79, 0.315); */
}

::-webkit-scrollbar-track {
  height: 2.1vh;
  border-radius: 22px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 22px;
  background-color: var(--backgroundcolor);
}

* {
  margin: 0%;
  text-decoration: none;
  color: var(--color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background: rgb(0, 4, 31) url("../assets/img/shape-u.png");
  background-repeat: no-repeat;
}

.sec-1 {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  background-color: hsl(231deg, 100%, 4%);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  z-index: 99999;
}
.sec-1 span {
  display: flex;
  width: 220px;
  height: auto;
  padding: 12px;
  overflow: hidden;
}
.sec-1 span .logoi {
  border-radius: 23px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.sec-1 ul {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.sec-1 ul > * {
  margin-left: 12px;
  color: rgb(255, 255, 255);
}
.sec-1 ul > *:hover {
  color: rgb(216, 0, 0);
}
.sec-1 .fixed__NAV {
  display: flex;
  position: fixed;
  top: 130px;
  z-index: 999999;
  right: 10px;
}
.sec-1 .fixed__NAV a {
  border: 2px solidm white;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px;
  color: rgb(0, 4, 31);
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 12px;
  cursor: pointer;
}
.sec-1 .fixed__NAV a:nth-child(2) {
  border-radius: 1px;
  color: red !important;
  background-color: rgb(0, 4, 31) !important;
  box-shadow: 2px 4px 5px gray;
}

.clicksa {
  display: none !important;
}

.sec-2 {
  display: grid;
  margin-top: 93px;
  min-height: 60vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
  grid-template-columns: 60% 40%;
  overflow: hidden;
}
.sec-2 .particles-js {
  height: 100%;
}
.sec-2 .main__total {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: baseline;
  padding: 12px;
  padding-top: 30%;
}
.sec-2 .main__total > * {
  display: flex;
  align-self: baseline;
  color: white;
  margin: 6px;
}
.sec-2 .main__total h2 {
  display: flex;
  font-size: 40px;
  margin: 12px;
}
.sec-2 .main__total h2 sup {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bolder !important;
}
.sec-2 .main__total p {
  color: rgb(207, 199, 199);
  font-size: 20px;
  text-transform: uppercase;
}
.sec-2 .main__total article {
  text-transform: capitalize;
}
.sec-2 .main__total a {
  padding: 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(255, 255, 255, 0.897);
  color: var(--colored);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  box-shadow: var(--shadow);
  cursor: pointer;
}
.sec-2 .main__total a:hover {
  background: white;
}

.ssmall {
  margin-top: 22px;
  margin: 12px;
}

.sec-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px;
}
.sec-3 .about {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.sec-3 .about > * {
  width: 550px;
  margin: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sec-3 .about > * > * {
  width: 100%;
  height: 100%;
  color: white;
  margin-top: 9px;
}
.sec-3 .about > * a {
  background: rgb(216, 214, 214);
  padding: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: felx;
  align-self: flex-start;
  box-shadow: var(--shadow);
  color: var(--colored);
}
.sec-3 .about > * b {
  color: gray;
  text-transform: uppercase;
}

.sec__3__hearder {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 10%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 22px;
}
.sec__3__hearder > * {
  text-transform: capitalize;
  color: white;
}

.plan_sec {
  background: rgb(0, 4, 31) url("../assets/img/shape-t.png");
  background-repeat: no-repeat;
  display: flex;
}
.plan_sec .plan__sec__s {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.plan_sec .plan__sec__s div {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(200, 194, 194, 0.74);
  background-image: url("../assets/img/shape-z.png");
  border-radius: 22px;
  text-transform: capitalize;
  margin: 22px;
  padding: 33px;
}
.plan_sec .plan__sec__s div img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 200px;
}
.plan_sec .plan__sec__s div span {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 12px;
  align-items: center;
}
.plan_sec .plan__sec__s div span > * {
  display: flex;
  flex-direction: column;
}

.logoi {
  border-radius: 23px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.calculate {
  display: flex;
  background: rgb(0, 4, 31) url("../assets/img/shape-r.png");
  background-repeat: repeat;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.calculate span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  text-transform: capitalize;
  margin: 12px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.192);
  padding: 22px;
}
.calculate span > * {
  width: 340px;
  color: white;
  background-color: transparent;
  height: 52px;
  text-transform: capitalize;
}
.calculate span > * select, .calculate span > * input {
  border: 1px solid gray;
}

option {
  width: 100%;
}

.sign {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 11px;
  background-color: white;
  color: var(--color);
}

.referred {
  margin-top: 12%;
  margin-bottom: 12%;
  padding: 0 0px 2px 44px;
  display: flex;
  grid-template-columns: 600px 600px;
  flex-wrap: wrap !important;
  width: 100%;
}
.referred .re__step {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.referred .re__step > * {
  display: flex;
  margin: 12px;
  margin-left: 0;
  margin-right: 0;
  background-color: rgba(255, 255, 255, 0.322);
  height: 120px;
  margin-top: 12px;
  flex-grow: 1;
  flex-basis: 1;
  align-items: center;
  justify-content: space-evenly;
}
.referred .re__step > * > * {
  color: white;
  text-transform: uppercase;
}
.referred .re__step > * h2 {
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
}
.referred > * {
  width: 100%;
}
.referred .imas {
  width: 600px;
  height: 400px;
}
.referred .imas > * {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wht {
  color: white;
}

.df {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  width: 100vw;
  padding: 12px;
  margin-top: 33px;
  align-items: center;
  color: white !important;
  margin: 0 !important;
  background: var(--backgroundcolor) url("../assets/img/shape-z.png");
}
footer sup {
  color: gray;
}
footer .crypto__sd {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
footer .crypto__sd img {
  height: 60px;
  margin-top: 52px;
}
footer .crypto__sd > * {
  color: white;
}

@media screen and (max-width: 700px) {
  .referred {
    display: flex;
  }
  .re__step {
    width: 100% !important;
    align-items: center;
  }
  .re__step > * {
    width: 80%;
  }
  select, input {
    width: 100% !important;
  }
  .plan__sec__s > * {
    width: 100% !important;
  }
  .sec-2 {
    display: flex !important;
    margin-top: 93px;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    max-height: -webkit-fit-content !important;
    max-height: -moz-fit-content !important;
    max-height: fit-content !important;
    width: 100%;
    position: relative;
    overflow: visible !important;
  }
  .sec-2 .particles-js {
    height: 100%;
    float: left;
    width: 100%;
    top: 0;
  }
  .sec-2 .main__total {
    position: absolute !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: baseline;
    padding: 12px;
    padding-top: 30%;
  }
  .sec-2 .main__total > * {
    display: flex;
    align-self: baseline;
    color: white;
    margin: 6px;
  }
  .sec-2 .main__total h2 {
    display: flex;
    font-size: 40px;
    margin: 12px;
  }
  .sec-2 .main__total h2 sup {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder !important;
  }
  .sec-2 .main__total p {
    color: rgb(207, 199, 199);
    font-size: 20px;
    text-transform: uppercase;
  }
  .sec-2 .main__total article {
    text-transform: capitalize;
  }
  .sec-2 .main__total a {
    padding: 22px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: rgba(255, 255, 255, 0.897);
    color: var(--colored);
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    box-shadow: var(--shadow);
    cursor: pointer;
  }
  .sec-2 .main__total a:hover {
    background: white;
  }
  .sec-1 {
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between !important;
    width: 100%;
    height: auto;
    background-color: hsl(231deg, 100%, 4%);
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    z-index: 99999;
  }
  .sec-1 span {
    display: flex;
    width: 220px;
    height: auto;
    padding: 12px;
    overflow: hidden;
  }
  .sec-1 span .logoi {
    border-radius: 23px;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    height: 100%;
  }
  .sec-1 i {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: white;
  }
  .sec-1 ul {
    display: flex;
    position: fixed;
    background-color: var(--backgroundcolor);
    width: 100% !important;
    height: 120px;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .sec-1 ul > * {
    margin-left: 12px;
    color: rgb(255, 255, 255);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    align-self: center;
  }
  .sec-1 ul > *:hover {
    color: rgb(216, 0, 0);
  }
  .sec-1 .fixed__NAV {
    display: flex;
    position: unset !important;
    top: 130px;
    z-index: 99999999999;
    right: 10px;
  }
  .sec-1 .fixed__NAV a {
    border: 2px solidm white;
    background-color: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 12px;
    color: rgb(0, 4, 31);
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 12px;
    cursor: pointer;
  }
  .sec-1 .fixed__NAV a:last-child {
    border-radius: 1px;
    color: white;
    background-color: rgb(0, 4, 31);
  }
  .clickcon {
    top: -104vw;
  }
  .opens {
    top: 104px;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .clicksa {
    display: flex;
    font-size: 40px;
    cursor: pointer;
    background-color: transparent !important;
  }
}
@media screen and (min-width: 1000px) {
  .ano {
    opacity: 0;
  }
  .showas {
    opacity: 1;
    transition: all 0.8s ease-in-out;
  }
}
.sec-6 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.sec-6 .sec-6-over-lay {
  display: flex;
  width: 100%;
  position: relative;
}
.sec-6 .sec-6-over-lay .b2 {
  display: flex;
  width: 620px;
  border-radius: 20%;
  height: 620px;
  background: url("../img/shape-t.png"), linear-gradient(var(--backgroundimage), white);
  background-size: cover;
  position: absolute;
  left: -163px;
  top: -23px;
  margin-left: -10%;
  rotate: 20deg;
}
.sec-6 .sec-6-over-lay b {
  display: flex;
  width: 620px;
  border-radius: 20%;
  height: 620px;
  background: url("../img/shape-t.png"), linear-gradient(var(--backgroundimage), white);
  background-size: cover;
  position: absolute;
  right: -123px;
  margin-right: -10%;
  rotate: 30deg;
}
.sec-6 .main-sponsor-con {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}
.sec-6 .main-sponsor-con span {
  display: flex;
  width: 100%;
  margin: 12px;
}
.sec-6 .main-sponsor-con span > * {
  text-transform: uppercase;
  font-weight: bolder;
  color: rgba(3, 3, 3, 0.774) !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif !important;
}
.sec-6 .main-sponsor-con main {
  display: flex;
  overflow: hidden;
  width: 40%;
  height: 500px;
  max-width: 800px;
  min-width: 500px;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sec-6 .main-sponsor-con main .child-sec-6 {
  display: flex;
  transform: translateX(-100vw);
  transition: all 1.2s ease-in-out;
  flex-direction: column;
  position: absolute;
  margin: 12px;
  box-shadow: 3px 2px 4px 6px rgba(128, 128, 128, 0.465);
  border-radius: 22px;
  align-content: center;
  width: 70%;
  height: 70%;
  align-items: center;
  justify-content: center;
}
.sec-6 .main-sponsor-con main .child-sec-6 big {
  display: flex;
  height: 80%;
  align-self: center;
  width: 80%;
  border-radius: 20%;
  padding: 12px;
  background-image: linear-gradient(var(--backgroundimage));
}
.sec-6 .main-sponsor-con main .child-sec-6 big img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.sec-6 .main-sponsor-con main .child-6-show {
  transform: translateX(0);
  transition: all 1.2s ease-in-out;
}
.sec-6 .main-sponsor-con .sign-count {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.sec-6 .main-sponsor-con .sign-count .hide-i {
  width: 32px;
  height: 9px;
  background-color: var(--text-p);
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
}
.sec-6 .main-sponsor-con .sign-count .show-act-i {
  background-color: white;
  border: 1px solid var(--text-p);
}

.sec-6 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.sec-6 .sec-6-over-lay {
  display: flex;
  width: 100%;
  position: relative;
}
.sec-6 .sec-6-over-lay .b2 {
  display: flex;
  width: 620px;
  border-radius: 20%;
  height: 620px;
  background: url("../img/shape-t.png"), linear-gradient(var(--backgroundimage), white);
  background-size: cover;
  position: absolute;
  left: -163px;
  top: -23px;
  margin-left: -10%;
  rotate: 20deg;
}
.sec-6 .sec-6-over-lay b {
  display: flex;
  width: 620px;
  border-radius: 20%;
  height: 620px;
  background: url("../img/shape-t.png"), linear-gradient(var(--backgroundimage), white);
  background-size: cover;
  position: absolute;
  right: -123px;
  margin-right: -10%;
  rotate: 30deg;
}
.sec-6 .main-sponsor-con {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}
.sec-6 .main-sponsor-con span {
  display: flex;
  width: 100%;
  margin: 12px;
}
.sec-6 .main-sponsor-con span > * {
  text-transform: uppercase;
  font-weight: bolder;
  color: rgba(3, 3, 3, 0.774) !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif !important;
}
.sec-6 .main-sponsor-con main {
  display: flex;
  overflow: hidden;
  width: 40%;
  height: 500px;
  max-width: 800px;
  min-width: 500px;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sec-6 .main-sponsor-con main .child-sec-6 {
  display: flex;
  transform: translateX(-100vw);
  transition: all 1.2s ease-in-out;
  flex-direction: column;
  position: absolute;
  margin: 12px;
  box-shadow: 3px 2px 4px 6px rgba(128, 128, 128, 0.465);
  border-radius: 22px;
  align-content: center;
  width: 70%;
  height: 70%;
  align-items: center;
  justify-content: center;
}
.sec-6 .main-sponsor-con main .child-sec-6 big {
  display: flex;
  height: 80%;
  align-self: center;
  width: 80%;
  border-radius: 20%;
  padding: 12px;
  background-image: linear-gradient(var(--backgroundimage));
}
.sec-6 .main-sponsor-con main .child-sec-6 big img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.sec-6 .main-sponsor-con main .child-6-show {
  transform: translateX(0);
  transition: all 1.2s ease-in-out;
}
.sec-6 .main-sponsor-con .sign-count {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.sec-6 .main-sponsor-con .sign-count .hide-i {
  width: 32px;
  height: 9px;
  background-color: var(--text-p);
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
}
.sec-6 .main-sponsor-con .sign-count .show-act-i {
  background-color: white;
  border: 1px solid var(--text-p);
}

.hiiden {
  display: none;
}

.shows {
  display: flex;
}

.readermore {
  font-size: 20px !important;
  border: 2px solid white;
  background-color: var(--text-p);
  color: white !important;
  padding: 9px;
  margin-top: 21px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 12px;
}

.sec-5 {
  margin-top: 6%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sec-5 .over-lay {
  width: 100%;
  width: 100%;
  display: flex;
  position: relative;
}
.sec-5 .over-lay big {
  position: absolute;
  background-image: linear-gradient(to top, rgba(173, 216, 230, 0.5), rgba(0, 0, 255, 0.185), var(--text-p));
  height: 690px;
  width: 690px;
}
.sec-5 .over-lay big:first-child {
  border-radius: 50%;
  position: absolute;
  rotate: -190deg;
  left: -230px;
  top: -220px;
  height: 990px;
  width: 990px;
}
.sec-5 .over-lay big:nth-child(2) {
  border-radius: 50%;
  rotate: 90deg;
  right: -120px;
  top: -120px;
}
.sec-5 .over-lay smal {
  font-size: 1200px;
  background-color: transparent;
  position: absolute;
  color: white;
  font-family: "Times New Roman", Times, serif !important;
  opacity: 0.5;
  display: flex;
  outline: none;
  top: -122px;
}
.sec-5 .sec-5-con {
  background: url("../img/shape-t.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 30px;
  width: 100%;
  height: 100%;
  left: 0;
}
.sec-5 .sec-5-con center {
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 29px;
  text-transform: capitalize;
}
.sec-5 .sec-5-con center h2 {
  display: flex;
  font-size: 40px;
  color: white;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}
.sec-5 .sec-5-con center h1 {
  display: flex;
  font-size: 80px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}
.sec-5 .sec-5-con .mAIN-CON-SEC-5 {
  display: flex;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
}
.sec-5 .sec-5-con .mAIN-CON-SEC-5 div {
  width: 100%;
  overflow-x: hidden;
  flex-grow: 1;
}
.sec-5 .sec-5-con .mAIN-CON-SEC-5 div > * {
  margin: 22px;
}
.sec-5 .sec-5-con .mAIN-CON-SEC-5 div:first-child {
  display: flex;
  overflow: hidden;
  position: relative;
}
.sec-5 .sec-5-con .mAIN-CON-SEC-5 div:first-child p {
  width: 100%;
  position: absolute;
  color: white;
  background-color: rgba(0, 4, 31, 0.63);
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
  padding: 12px;
  border-radius: 19px;
}
.sec-5 .sec-5-con .mAIN-CON-SEC-5 div:first-child b {
  font-size: 150px;
  color: rgb(226, 214, 214);
  font-family: Arial, Helvetica, sans-serif !important;
}
.sec-5 .sec-5-con .mAIN-CON-SEC-5 div:last-child {
  display: flex;
  flex-direction: column;
}
.sec-5 .sec-5-con .mAIN-CON-SEC-5 div:last-child span {
  width: 400px;
  height: 400px;
  display: flex;
  align-self: flex-end;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(to top, lightblue, rgba(0, 0, 255, 0.582), white);
  padding: 23px;
}
.sec-5 .sec-5-con .mAIN-CON-SEC-5 div:last-child span img {
  width: 100%;
  border-radius: 50%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1) linear;
}

@media screen and (max-width: 795px) {
  .clicksa {
    display: flex !important;
  }
  .show-acx {
    display: flex;
    width: 100% !important;
    height: 300px !important;
    transform: translateX(0vw);
  }
  .sec-5-con {
    display: flex;
    flex-direction: column;
    margin-bottom: 12% !important;
    position: absolute;
    padding: 30px;
    width: 100%;
    height: 100%;
    left: 0;
  }
  .sec-5-con center {
    display: flex;
    flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 29px;
    text-transform: capitalize;
  }
  .sec-5-con center h2 {
    display: flex;
    font-size: 20px !important;
    color: white;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  }
  .sec-5-con center h1 {
    display: flex;
    font-size: 20px !important;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  }
  .mAIN-CON-SEC-5 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .mAIN-CON-SEC-5 div {
    width: 100%;
    overflow: hidden;
  }
  .mAIN-CON-SEC-5 div > * {
    margin: 22px;
  }
  .mAIN-CON-SEC-5 div:first-child {
    display: flex;
    overflow: visible;
    position: relative;
    width: 100%;
    height: 23rem;
  }
  .mAIN-CON-SEC-5 div:first-child p {
    width: 100%;
    position: absolute;
    font-size: larger;
    color: white;
    background-color: rgba(0, 4, 31, 0.63);
    -webkit-backdrop-filter: blur(22px);
            backdrop-filter: blur(22px);
    padding: 12px;
    border-radius: 9px;
  }
  .mAIN-CON-SEC-5 div:first-child b {
    font-size: 33px !important;
    color: white;
    font-family: Arial, Helvetica, sans-serif !important;
  }
  .mAIN-CON-SEC-5 div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mAIN-CON-SEC-5 div:last-child span {
    width: 80% !important;
    max-width: auto;
    height: 80% !important;
    display: flex;
    align-self: center;
    border-radius: 50%;
    justify-self: center;
    overflow: hidden;
    background: linear-gradient(to top, lightblue, rgba(0, 0, 255, 0.582), white);
    padding: 23px;
  }
  .mAIN-CON-SEC-5 div:last-child span img {
    width: 100%;
    border-radius: 50%;
    height: 200px !important;
    -o-object-fit: fill;
       object-fit: fill;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1) linear;
  }
}
.hiddx {
  display: none;
  width: 100%;
  height: 100%;
  transform: translateX(-100vw);
}

.show-acx {
  display: flex;
  width: 100% !important;
  height: 100% !important;
  transform: translateX(0vw);
}

.hidd {
  transform: translateX(-100vw);
}
.hidd > * {
  color: white;
}

.show-ac {
  display: flex;
  transform: translateX(0vw);
  transition: all 2s ease-in-out;
}

.h2A {
  background-color: rgba(173, 216, 230, 0.657);
  padding: 12px;
  border-top-left-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom: 3px solid rgb(91, 177, 206);
  border-right: 3px solid rgba(91, 177, 206, 0.301);
}

.perloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-blend-mode: var(--backgroundx);
  background: var(--backgroundx);
  z-index: 99999999999999990000000000000000;
  align-items: center;
  justify-content: center;
  opacity: 1;
  display: flex;
}
.perloader > * {
  background-blend-mode: var(--backgroundx);
  background: var(--backgroundx);
  z-index: 9999999;
}

.clicksa {
  display: none;
}

.perloaderremove {
  opacity: 0;
  display: none;
}/*# sourceMappingURL=home.css.map */